<html>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"> 
<head>
<title>Case sensitive Google Search</title> 
<link type="text/css" rel="stylesheet" href="/css/main.css" />
</head>
  <body onload="setup()">
  <h3> Case sensitive Google search </h3>
	<div>
    <form action="/search">
    
      <div>Search Google with this term:
		<input name="q" type="text" id="q" size="65" value="{{ query }}"></input>
        <input name="btn" type="submit" id="btn" value="Start"/></div>
      <div>cs filter (same as above if omitted):
		<input name="f" type="text" id="f" size="48" value="{{ filter }}"></input>
      </div>
		limit:
		<select id="l">
		  <option value="2">16</option>
		  <option value="4">32</option>
		  <option value="8">64</option>
		  <option value="16">128</option>
		  <option value="32">256</option>
		  <option value="64">512</option>
		  <option value="128">1024</option>
		  <option value="256">2048</option>
		  <option value="512" selected="selected">4096</option>
		  <option value="1024">8192</option>
		  <option value="2048">16384</option>
		</select>
		start from: <input name="s" type="text" id="s" size="10" value="{{ startfrom }}"></input>
		<!-- 
		next: <input name="n" type="text" id="n" size="10" value="{{ next }}"></input>
		<input name="nextsearch" type="submit" id="nextsearch" value="Next"/></div>
		 -->
    </form>
    </div>

	<div id="searchresult" style="padding:10px;background-color:white;width:98%;height:70%; overflow:auto;">
	{% for searchresult in searchresults %}
	  <li>
	{{searchresult.absoluteOrd }}  <a href="{{searchresult.url}}">{{ searchresult.title }}</a>
	<div>{{ searchresult.content}}</div>
	<div><cite>{{ searchresult.visibleUrl }}</cite> <a href="{{ searchresult.cacheUrl }}">Cached</a><div>
	  </li>
	{% endfor %}
	</div>
	<div><a href="/static/about.html">About</a> | Created by <a href="http://bpgergo.blogspot.com">bpgergo</a> | <a href="http://code.google.com/p/case-sensitive-search">Project home (source)</a></div>
  </body>
</html>